.be-content{
    max-width: 460px;
    height: 450px;
    margin: 100px auto;
    background-color: rgba(0,0,0,0.3); 
    /* box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.04); */ 
    border-width: 0;
    border-top-width: 0px;
    border-radius: 50px;
}
.br-content{
    width: 301px;
    margin: 0px auto;
}
.bootint{
    width: 300px
}
.ioc_text{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}
.ioc_text span{
    display: block;
    font-size: 14px;
    margin-top: 20px;
}
.ioc_text img{
    width: 140px;
    height: 50px;
}
.br-text {
    font-size: 12px;
    padding-top: 10px;
}
.br-text a:last-child{
    padding-left: 165px;
}
.btn{
    width: 300px;
    height: 38px;
    color: white;
    background-color: #1266f1;
}
.be-con{
    width: 190px;
    height: 14px;
    font-size: 11px;
    margin: 50px auto;
    padding-bottom: 50px;
}